# ===========================
# VS Code
# ===========================
.vscode/
*.code-workspace

# ===========================
# JetBrains (PyCharm, IntelliJ)
# ===========================
.idea/
*.iml
*.iws
*.ipr